{% extends "base.html" %}


{% block page_content %}

{% if welcome %}
<div class="panel panel-default">
    <div class="panel-heading">{{welcome}} {{usernick}}</div>
    <div class="panel-body">
        <p>欢迎使用DataEditor</p>
        <p>Powered By Hotland</p>
    </div>
</div>
{% else %}
    <style type="text/css">
       .my_table { font-size: 0.8em; }
       .my_table th,tr,td {
           padding: 0;
       }
    </style>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{category_name}}-{{date}}</div>
        <div class="panel-body"> <p></p></div>
        <!-- Table -->
        <form enctype="multipart/form-data" action="/railway/admin/upload" method=post>
            <input type="file" id="uploadFile" name="excelFile" /><input type="submit" value="上传" />
        </form>
        <input type="button" id="showImportData" name="showImportData" />
        <div class="container-fluid">
            <div class="row-fluid">
                    <table class="table table-bordered table-hover" >
                        <thead>
                            <tr>
                                <th> 城市 </th>
                                <th> 线路 </th>
                                <th> 里程 </th>
                                <th> 车型及编组 </th>
                                <th> 最高运行速度 </th>
                                <th> 开通时间 </th>
                                <th> 工程投资 </th>
                                <th> 备注 </th>
                            </tr>
                        </thead>
                        <tbody class="tbody">

                        </tbody>
                </table>
            </div>
        </div>
    </div>

	{% block scripts %}
	    <script src="{{ url_for('static', filename = 'diagnose/railway.js') }}"></script>
	{% endblock %}

{% endif %}
{% endblock %}
