{% extends "base.html" %}


{% block page_content %}

{% if welcome %}
<div class="panel panel-default">
    <div class="panel-heading">{{welcome}} {{usernick}}</div>
    <div class="panel-body">
        <p>欢迎使用DataEditor</p>
        <p>Powered By Hotland</p>
    </div>
</div>
{% else %}
    <style type="text/css">
       .my_table { font-size: 0.8em; }
       .my_table th,tr,td {
           padding: 0;
       }
    </style>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">{{category_name}}-{{date}}</div>
    <div class="panel-body"> <p></p></div>
    <!-- Table -->
    <form enctype="multipart/form-data" action="/railway/admin/upload" method=post>
        <input type="file" id="uploadFile" name="excelFile" /><input type="submit" value="上传" />
    </form>
    <div class="container-fluid">
        <div class="row-fluid">
{#                <table class="table table-bordered table-hover" >#}
{#                    <thead>#}
{#                        <tr>#}
{#                            <th> 客户名称 </th>#}
{#                            <th> 消费(万) </th>#}
{#                            <th> 曝光量(万) </th>#}
{#                            <th> 下载量(万) </th>#}
{#                            <th> eCPM(元) </th>#}
{#                            <th> 历史详情 </th>#}
{#                        </tr>#}
{#                    </thead>#}
{#                  <tbody>#}
{#                        {%for data in data_list %}#}
{#                        <tr>#}
{#                            <td> {{data.name}} </td>#}
{#                            <td> {{format_big_num(data.consume)}} </td>#}
{#                            <td> {{format_big_num(data.impression)}} </td>#}
{#                            <td> {{format_big_num(data.start_download)}} </td>#}
{#                            <td> {{format_ecpm(data.consume, data.impression)}} </td>#}
{#                            <td> <a href="/{{category_id}}/history/{{data.id}}">历史趋势</a> </td>#}
{#                        </tr>#}
{#                        {% endfor %}#}
{#				</tbody>#}
{#			</table>#}
		</div>
    </div>
</div>



{% endif %}
{% endblock %}
