{% extends "base.html" %}

{% block title %}
广告主数据关键指标监控-{{title}}
{% endblock %}

{% block page_content %}
<h2>{{title}}</h2>
<script src="{{ url_for('static', filename='Chart.bundle-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='chartkick.js') }}"></script>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">{{title}}-{{date}}</div>
    <div class="panel-body"> <p></p></div>
    <!-- Table -->
    <div class="container-fluid">
        <div class="row-fluid">
                <table class="table table-bordered table-hover" >
                    <thead>
                        <tr>
                            <th> 广告ID </th>
                            <th> 曝光量 </th>
                            <th> 点击量 </th>
                            <th> 下载量 </th>
                            <th> 消耗 </th>
                            <th> CTR </th>
                            <th> CVR </th>
                            <th> 异常特征 </th>
                        </tr>
                    </thead>
                  <tbody>
                        {%for data in data_list %}
                        <tr>
                            <td> <a href="http://bi.d.xiaomi.net/demand/history/creative?adCreativeId={{data.ad_id}}" target="_blank">{{data.ad_id}}</a> </td>
                            <td> {{data.view_num}} </td>
                            <td> {{data.click_num}} </td>
                            <td> {{data.download_num}} </td>
                            <td> {{data.cost}} </td>
                            <td> {{format_percent(data.click_num, data.view_num)}} </td>
                            <td> {{format_percent(data.download_num, data.click_num)}} </td>
                            <td> {{data.alert_info}} </td>
                        </tr>
                        {% endfor %}
				</tbody>
			</table>
		</div>
    </div>
</div>

{% endblock %}
