{% extends "base.html" %}

{% block title %}
DemandInsight - 客户分析
{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='jquery-2.2.4.min.js') }}"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
<script src="{{ url_for('static', filename='theme/macarons.js') }}"></script>
<script src="{{ url_for('static', filename='theme/shine.js') }}"></script>
<script src="{{ url_for('static', filename='theme/vintage.js') }}"></script>
<script src="{{ url_for('static', filename='theme/roma.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap-datetimepicker.min.js') }}"></script>
<link  href="{{ url_for('static', filename='bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select.min.css') }}">
<script src="{{ url_for('static', filename='bootstrap-select.min.js') }}"></script>

<script src="{{ url_for('static', filename='demand/table.data.js') }}"></script>
<script src="{{ url_for('static', filename='demand/chart.data.js') }}"></script>

<script src="{{ url_for('static', filename='date-format.js') }}"></script>

<script type="text/javascript">
    var yesterday = new Date(new Date()-24*60*60*1000).Format("yyyy-MM-dd");

    $(".form_date").datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒
        format: "yyyy-mm-dd",
        language: 'zh-CN',
        autoclose: true,
//        weekStart: 1,
//        todayBtn:  1,
//        todayHighlight: 1,
////        startView: 3, //这里就设置了默认视图为年视图
//        forceParse: 0
    });
    $('#table-date').val(yesterday);

    var myChart = echarts.init(document.getElementById('main-chart'), 'shine');
    var option = {};
    myChart.setOption(option);

    var data_type = window.document.URL.split("/").pop();

    var dateTypeFunc = function(name, id) {
        $("#date-type .text").text(name);
        $("#date-type input[id='datetype']").val(id);
        return false;
    }


    window.onload = function ()
    {
        var media_type = $('#media-type').val();
        var ad_form = "all";
        get_data(data_type, media_type, ad_form);
        get_table_data(data_type, yesterday, media_type, ad_form, 1);
    };

    $('#btSearch1').click(function () {
        var data_date = $('#table-date').val();
        var media_type = $('#media-type').val();
//        var ad_form = $('#ad-form').val();
        var date_type = parseInt($("#date-type input[id='datetype']").val())
        var ad_form = "all";
        get_table_data(data_type, data_date, media_type, ad_form, date_type);
    });

    $('#btSearch2').click(function () {
        var media_type = $('#media-type').val();
//        var ad_form = $('#ad-form').val();
        var ad_form = "all";
        get_data(data_type, media_type, ad_form);
    });

</script>
{% endblock %}


{% block page_content %}
<h2>{{title}} - 分析</h2>
<h5>{{data_define}} </h5>
<br>

<div class="row-fluid">
        <div class="input-group" style="width:300px">
            <div class="col-sm-4">
                <select id="media-type" name="media-type" class="selectpicker">
                    <option selected value="all">所有媒体</option>

                    <option value="APP_STORE">应用商店</option>
                    <option value="PHONE_VIDEO">小米视频</option>
                    <option value="BROWSER_FEED">浏览器</option>
                    <option value="NEWS">一点资讯</option>
                    <option value="" disabled>————————————</option>

                    <option value="SAFE_CENTER">安全中心</option>
                    <option value="DOWNLOAD_MANAGER">下载管理器</option>
                    <option value="MMS">短信</option>
                    <option value="DESKTOP">桌面文件夹</option>
                    <option value="MUSIC">小米音乐</option>
                    <option value="CALENDAR">小米日历</option>
                    <option value="UNION">联盟</option>
                    <option value="FILE_MANAGER">文件管理器</option>
                    <option value="WEATHER">小米天气</option>

                    <option value="" disabled>————————————</option>

                    <option value="CLOCK">时钟</option>
                    <option value="GAME">游戏中心</option>
                    <option value="IFENG">凤凰</option>
                    <option value="INSTALLER">安装器</option>
                    <option value="MIROUTER">米路由</option>
                    <option value="MIUI_BBS">MIUI论坛</option>
                    <option value="O2O">小米生活</option>
                    <option value="QUICK_SEARCH_BOX">全局搜索</option>
                    <option value="THEME">主题</option>
                    <option value="XIAOMI_JR">小米金融</option>
                    <option value="YELLOW_PAGE">黄页</option>
                </select>
            </div>
            <!--<div class="col-sm-4">-->
                <!--<select id="ad-form" name="ad-form" class="selectpicker">-->
                    <!--<option selected value="all">所有类型</option>-->
                    <!--<option value="feeds">信息流</option>-->
                    <!--<option value="appdownload">应用下载</option>-->
                    <!--<option value="banner">banner</option>-->
                <!--</select>-->
            <!--</div>-->
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" id="btSearch2">Go!</button>
            </span>
        </div>
    </div>
<br>

<div class="panel panel-info">
    <div class="panel-heading">{{title}} - 历史趋势</div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="main-chart" style="width: 100%;height:400px;"></div>
        </div>
    </div>
</div>

<br>
<div class="panel panel-info">
    <div class="panel-heading">{{title}} - 明细列表</div>

    <div class="panel-body">
        <div class="input-group" style="width:300px">
            <input type="text" value="get_today()" id="table-date" readonly class="form_date date form-control">
            <div class="input-group-btn btn-group" id="date-type">
                <input type="hidden" id="datetype" value="1">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text">天</span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)" onclick="dateTypeFunc('天', 1)">天</a></li>
                    <li><a href="javascript:void(0)" onclick="dateTypeFunc('周', 2)">周</a></li>
                    <li><a href="javascript:void(0)" onclick="dateTypeFunc('月', 3)">月</a></li>
                </ul>
            </div>
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" id="btSearch1">Go!</button>
            </span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
                <table class="table table-bordered table-hover" >
                    <thead>
                        <tr>
                            <th> 客户名称 </th>
                            <th> 代理商 </th>
                            <th> 核代 </th>
                            <th> 客户行业 </th>
                            <!--<th> 推广标的物 </th>-->
                            <th> 消耗(万) </th>
                            <th> 消耗占比 </th>
                            <th> 历史 </th>
                        </tr>
                    </thead>
                  <tbody id="tbody-result">
				  </tbody>
			</table>
		</div>
    </div>
</div>

{% endblock %}

