{% extends "base.html" %}

{% block title %}
广告下发诊断-{{title}}
{% endblock %}

{% block page_content %}
<!--<h2>{{title}}</h2>-->
<script src="{{ url_for('static', filename='Chart.bundle-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='chartkick.js') }}"></script>

<script src="{{ url_for('static', filename='diagnose/table.data.js') }}"></script>
<script src="{{ url_for('static', filename='diagnose/chart.data.js') }}"></script>

<script src="{{ url_for('static', filename='date-format.js') }}"></script>
<script type="text/javascript">

    window.onload = function ()
    {
        var ad_id = $('#creative_id').val();
        var date = $('#op-record-datepicker').val();
        var pageNo = 1;
        var pageSize = 5;
        get_operation_record(ad_id, "", 0, date, pageNo, pageSize);

        var history_media = $('#history-media').val();
        var history_tag = $('#history-tag').val();
        var history_group_by_mode = $('#history-group').val();
        get_history_data(ad_id, history_media, history_tag, history_group_by_mode);

        var offline_media = $('#offline_media').val();
        var offline_tag = $('#offline_tag').val();
        var offline_group_by_mode = $('#offline-group').val();
        get_request_statistics(ad_id, offline_media, offline_tag, offline_group_by_mode);
//        get_table_data(ad_id);
    };

</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="input-group" style="width:300px">
            <input type="hidden" id="creative_id" value="{{ creative_id }}">
            <input type="text" class="form-control" placeholder="请输入广告Id或广告名称" id="creative" value="{{ creative.creative_text }}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="x">Go!</button>
            </span>
        </div>
        <span style="color: red;">{{error_msg}}</span>
    </div>
    <div id="base-info">
        <table class="table table-bordered table-hover" >
        <thead>
        <tr>
            <th> AdId </th>
            <th> 广告名称 </th>
            <th> 应用名称 </th>
            <th> 广告类型 </th>
            <th> 计费类型 </th>
            <th> 广告组ID </th>
            <th> 广告组定向 </th>
            <th> 计划日预算 </th>
            <th> 账户日预算 </th>
            <th> 广告状态 </th>
            <th> 广告组状态 </th>
            <th> 计划状态 </th>
            <th> Ad层当天消耗 </th>
            <th> 计划层当天消耗 </th>
            <th> CustomerID </th>
            <th> 子账户名称 </th>
            <th> 素材 </th>
        </tr>
        </thead>
        <tbody id="tbody-base-info">
        <td> {{base_info["ad_id"]}} </td>
        <td> {{base_info["ad_name"]}} </td>
        <td> {{base_info["app_name"]}} </td>
        <td> {{base_info["ad_type"]}} </td>
        <td> {{base_info["billing_type"]}} </td>
        <td> {{base_info["group_id"]}} </td>
        <td> {{base_info["direction"]}} </td>
        <td> {{base_info["campaign_budget"]}} </td>
        <td> {{base_info["account_budget"]}} </td>
        <td> {{base_info["ad_status_text"]}} </td>
        <td> {{base_info["group_status_text"]}} </td>
        <td> {{base_info["campaign_status_text"]}} </td>
        <td> {{base_info["creative_effect"]}} </td>
        <td> {{base_info["campaign_effect"]}} </td>
        <td> {{base_info["customer_id"]}} </td>
        <td> {{base_info["sub_account_company"]}} </td>
        <td> {{base_info["assets"]}} </td>
        </tbody>
    <!--<div class="container-fluid">-->
        <!--<div class="row-fluid">-->
            <!--{% line_chart ads_deliver_info with style="width:200px; height:20px;" %}-->
        <!--</div>-->
    <!--</div>-->
    </table>

        <table class="table table-bordered table-hover" >
            <tr>
                <td>
                    外围诊断结果
                </td>
                <td>
                    {{base_info["outer_result"]}}
                </td>
            </tr>
        </table>
    </div>
    <div id="op-record">
        <div>操作日志</div>
        操作对象
        <select>
            <option value="all">全部</option>
            <option value="creative">创意</option>
            <option value="group">广告组</option>
            <option value="campaign">广告计划</option>
            <option value="account">账户</option>
        </select>
        <table class="table table-bordered table-hover" >
        <thead>
        <tr>
            <th> 操作时间 </th>
            <th> 操作对象 </th>
            <th> 操作类型 </th>
            <th> 操作前 </th>
            <th> 操作后 </th>
        </tr>
        </thead>
        <tbody id="tbody-operation-record">
        </tbody>
    </table>
    </div>
    <div id="history-data">
        <div>历史数据</div>
        group by:
        <select id="history-group">
            <option value="all">全部</option>
            <option value="creative">创意</option>
            <option value="group">广告组</option>
            <option value="campaign">广告计划</option>
            <option value="account">账户</option>
        </select>
        媒体名称:
        <select id="history-media">
            <option value="0">全部</option>
        </select>
        TagId:
        <select id="history-tag">
            <option value="">全部</option>
        </select>
        <table class="table table-bordered table-hover" >
            <tbody id="tbody-history-data">
            </tbody>
        </table>
    </div>
    <div id="request-statistics">
        <div>离线诊断</div>
        group by:
        <select id="offline-group">
            <option value="all">全部</option>
            <option value="hour">小时</option>
            <option value="day">天</option>
            <option value="media">媒体</option>
            <option value="tag">TagId</option>
        </select>
        媒体名称:
        <select id="offline-media">
            <option value="0">全部</option>
        </select>
        TagId:
        <select id="offline-tag">
            <option value="">全部</option>
        </select>
        <input type="button" id="offline-button" value="确定"/>
        <table class="table table-bordered table-hover" >
            <thead>
                <tr id="thead-offline-data">
                    <th> 请求时间 </th>
                    <th> retrieve_count </th>
                    <th> rank_count </th>
                    <th> result_count </th>
                    <th> 媒体名称 </th>
                    <th> TagId </th>
                </tr>
            </thead>
            <tbody id="tbody-offline-data">

            </tbody>
        </table>
    </div>

</div>
</div>>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename = 'jquery-2.2.4.min.js') }}"></script>
<script>
    $("#x").click(function() {
        window.location = "/diagnose/" + $("#creative").val();
    });
    $("#offline-button").click(function() {
        var ad_id = $('#creative_id').val();
        var offline_media = $('#offline_media').val();
        var offline_tag = $('#offline_tag').val();
        var offline_group_by_mode = $('#offline-group').val();
        get_request_statistics(ad_id, offline_media, offline_tag, offline_group_by_mode);
    });
</script>
{% endblock %}