{% extends "base.html" %}


{% block page_content %}

{% if welcome %}
<div class="panel panel-default">
    <div class="panel-heading">Welcome</div>
    <div class="panel-body">
        <p>Welcome to Demand inSight Platform</p>
        <p>Powered By EMI-Cube</p>
    </div>
</div>
{% else %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body"> <p>流失定义: 最近7天没有消耗，但在过去7-14天有消耗</p></div>
    <!-- Table -->
    <div class="container-fluid">
        <div class="row-fluid">
                <table class="table table-bordered table-hover" >
                    <thead>
                        <tr>
                            <th> 客户名称 </th>
                            <th> 代理商 </th>
                            <th> 核代 </th>
                            <th> 客户行业 </th>
                            <th> 推广标的物 </th>
                            <th> 流失前周消耗(万) </th>
                            <th> 历史详情 </th>
                        </tr>
                    </thead>
                  <tbody>
                        {%for data in data_list %}
                        <tr>
                            <td width="20%"> {{data.customer_name}} </td>
                            <td width="20%"> {{data.agent_name}} </td>
                            <td width="20%"> {{data.core_agent_name}} </td>
                            <td> {{data.industry_name}} </td>
                            <td width="10%"> {{data.app_names}} </td>
                            <td> {{format_big_num(data.consume)}} </td>
                            <td> <a href="/customer/history/{{data.customer_id}}" target="_blank">历史趋势</a> </td>
                        </tr>
                        {% endfor %}
				</tbody>
			</table>
		</div>
    </div>
</div>



{% endif %}
{% endblock %}
