{% extends "base.html" %}

{% block title %}
DemandInsight - 客户分析
{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='jquery-2.2.4.min.js') }}"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
<script src="{{ url_for('static', filename='theme/macarons.js') }}"></script>
<script src="{{ url_for('static', filename='theme/shine.js') }}"></script>
<script src="{{ url_for('static', filename='theme/vintage.js') }}"></script>
<script src="{{ url_for('static', filename='theme/roma.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap-datetimepicker.min.js') }}"></script>
<link  href="{{ url_for('static', filename='bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select.min.css') }}">
<script src="{{ url_for('static', filename='bootstrap-select.min.js') }}"></script>

<script src="{{ url_for('static', filename='leads/table.data.js') }}"></script>
<script src="{{ url_for('static', filename='leads/chart.data.js') }}"></script>

<script src="{{ url_for('static', filename='date-format.js') }}"></script>

<script type="text/javascript">
    var yesterday = new Date(new Date()-24*60*60*1000).Format("yyyy-MM-dd");

    var myChart = echarts.init(document.getElementById('main-chart'), 'shine');
    var option = {};
    myChart.setOption(option);

    window.onload = function ()
    {
        get_table_data(yesterday);
        get_data();
    };

</script>
{% endblock %}


{% block page_content %}
<h2>{{title}}</h2>
<h5>{{data_define}} </h5>
<br>

<div class="panel panel-info">
    <div class="panel-heading">{{title}} - 历史趋势</div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="main-chart" style="width: 100%;height:400px;"></div>
        </div>
    </div>
</div>

<br>
<div class="panel panel-info">
    <div class="panel-heading">{{title}} - 明细列表</div>

    <!--<div class="panel-body">-->
        <!--<div class="input-group" style="width:300px">-->
            <!--<input type="text" value="get_today()" id="table-date" readonly class="form_date date form-control">-->
            <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-info" type="button" id="btSearch1">Go!</button>-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->
    <div class="panel-body"> <p></p></div>
    <div class="container-fluid">
        <div class="row-fluid">
                <table class="table table-bordered table-hover" >
                    <thead>
                        <tr>
                            <th> 咨询时间 </th>
                            <th> 省份 </th>
                            <th> 公司名 </th>
                            <th> 行业 </th>
                            <th> 网站 </th>
                            <!--<th> 推广标的物 </th>-->
                            <th> 联系人 </th>
                            <th> 联系电话 </th>
                            <th> 联系邮箱 </th>
                        </tr>
                    </thead>
                  <tbody id="tbody-result">
				  </tbody>
			</table>
		</div>
    </div>
</div>
</div>>

{% endblock %}

