{% extends "base.html" %}

{% block title %}
历史趋势-{{title}}
{% endblock %}

{% block page_content %}
<h2>{{title}}</h2>
<script src="{{ url_for('static', filename='Chart.bundle-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='chartkick.js') }}"></script>


<div class="panel panel-default">
    <div class="panel-heading">比率</div>
    <div class="container-fluid">
        <div class="row-fluid">
            {% line_chart fill_rate with style="width:200px; height:20px;" %}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">数值</div>
    <div class="container-fluid">
        <div class="row-fluid">
            {% line_chart data_list with style="width:200px; height:20px;" %}
        </div>
    </div>
</div>


{% endblock %}
